name: GH-Actions
on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"
env:
  CARGO_TERM_COLOR: always

jobs:
  go_service_build:
    runs-on: ubuntu-latest
    steps:
      - name: Lunar attach
        uses: earthly/lunar-agent/attach@main
        with:
          manifest-url: "github://pantalasa-cronos/lunar@main"
          hub-token: "${{ secrets.LUNAR_HUB_TOKEN }}"
          github-token: "${{ secrets.LUNAR_GITHUB_TOKEN }}"
          hub-host: cronos.demo.earthly.dev
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: true
      - name: Go Service Build
        run: |
          cat /proc/sys/kernel/yama/ptrace_scope
          cat Dockerfile
          go mod download
          go build -o go-server
          ls
      - name: Go Service Test
        run: go test ./... -coverprofile /tmp/coverage.out
        
      - name: Lunar logs
        run: |
          sleep 2
          cat /tmp/lunar/logs.txt
           
