name: CI

on:
  push:
    branches: [ main, master, localdev-dchw-main ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: lunar
    
    steps:
    - uses: actions/checkout@v4
    
 
    
    - name: Build Docker image
      run: |
        docker build \
          --label git_sha=${{ github.sha }} \
          --label build_date=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
          --label version=${{ github.ref_name }} \
          --label repository=${{ github.repository }} \
          -t backend:${{ github.sha }} \
          .
    
    - name: Test Docker image
      run: |
        docker run --rm backend:${{ github.sha }} && echo "Docker image works!"
