name: CI

on:
  push:
    branches: [ main, master, localdev-dchw-main ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: lunar
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
    
    - name: Run tests
      run: go test -v ./...
    
    - name: Build Docker image
      run: |
        docker build \
          --label git_sha=${{ github.sha }} \
          --label build_date=$(date -u +"%Y-%m-%dT%H:%M:%SZ") \
          --label version=${{ github.ref_name }} \
          --label repository=${{ github.repository }} \
          -t backend:${{ github.sha }} \
          .
    
    - name: Build Inner Docker image
      run: |
        docker build \
          -f ./image/Dockerfile \
          -t inner-image:${{ github.sha }} \
          image
    
    - name: Test Docker image
      run: |
        docker run --rm backend:${{ github.sha }} && echo "Docker image works!"
