name: GH-Actions
on:
    push:
        branches: [ localdev-mike-main ]
    pull_request:
        branches: [ localdev-mike-main ]
env:
    CARGO_TERM_COLOR: always
jobs:
    go_service_build:
        runs-on: localdev-mike-main
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                clean: true
            - name: Go Service Build
              run: |
                cat Dockerfile
                go mod download
                go build -o go-server
                ls
            - name: Go Service Test
              run: go test ./... -coverprofile /tmp/coverage.out
