name: CI
on:
    push:
        branches: [localdev-nacho-main ]
    pull_request:
        branches: [localdev-nacho-main ]
jobs:
    build:
        runs-on: localdev-nacho-main
        steps:
            - name: LS
              run: |
                ls -la

    xxx:
        uses: ./ci2.yml
        
