name: CI
on:
  workflow_call:
jobs:
    build:
        runs-on: localdev-nacho-main
        steps:
            - uses: actions/checkout@v4
            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                go-version: '1.22'
            
            - name: Build Docker image
              run: |
                ls
